# Git ignore fpor venv files
.venv/*

# Git ignore for *.lock files
*.lock

# Git ignore for Python cache files
**/__pycache__/*
.pytest_cache/*

# Git ignore directories for build and dist
*/build/*
*/dist/*